

/* Estilos generales del navbar */
navbar {
  margin: 0; /* Elimina m치rgenes para evitar desplazamiento no deseado */
  padding: 0;
  position: fixed;
  top: 0; /* Siempre estar치 anclado en la parte superior */
  left: 0;
  right: 0;
  z-index: 1000; /* Aseg칰rate de que est칠 por encima de otros elementos */
  background-color: transparent; /* No fondo, ya que el fondo est치 en 'nav' */
}

  
  .navbar {
    
  }


  /* Lista dentro del navbar */
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Separaci칩n entre los elementos del men칰 */
    padding: 0;
    margin: 0;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
  
  /* Estilos generales para los enlaces */
  nav a {
    text-decoration: none;
    color: #333; /* Color del texto de los enlaces */
    padding: 10px 20px;
    border-radius: 8px; /* Suavizamos los bordes de los enlaces */
    transition: background-color 0.3s ease; /* Transici칩n suave */
  }
  
  /* Efecto hover para los enlaces */
  nav a:hover {
    background-color: #ddd; /* Color de fondo al hacer hover */
  }
  
  /* Estilos para el enlace activo (underline) */
  .underline {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  /* Icono del carrito 游 */
  nav a.cart-icon {
    font-size: 1.5rem; /* Hacemos el 칤cono del carrito m치s grande */
  }
  
  /* Responsividad para dispositivos m칩viles */
  @media (max-width: 768px) {

}


.cart-link {
  text-decoration: none;
  color: inherit;
}

.cart-link.active {
  font-weight: bold;
  color: #4a90e2;
}

.cart-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: #75b9e135;
  color: #0a75c2;
}

.cart-icon {
  font-size: 1.2em;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.cart-text {
  margin-left: 4px;
}
