.cart-menu {
  margin-top: 55px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    background-color: #d7e9ff;
    width: 100%;
    height: 235px;
    padding: 8px;
    border-radius: 5px;
    justify-content: space-evenly;
    border: 1px solid #007bff;
}
  
  .cart-items-quantity{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

.cart-img-container {
  height: 90%;
  width: auto;
}

  .item-image {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .item-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .item-details p {
    margin: 4px 0;
    font-size: 16px;
  }
  
  .item-details p:nth-child(2) {
    font-size: 14px;
    color: #106ad6;
    font-size: 14px;
}

  .delete-item {
    margin-top: 20px;
    background-color: #f1f1f1;
    color: red;
    border: 1px solid red;
  }
  .item-total_price {
    margin-top: 5px;
  }

  .cart-items-btn {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.cart-items-btn {
  background-color: #ffffff;
  border: 1px solid black;
}