.container-default-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoom-div-span, .zoom-div-img {
    
}

.zoom-div {
    width: 45%;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    border: 3px solid #afd0f9;
    border-radius: 25px;
    color: #0476ff;
    font-size: medium;
    background-color: #f5f9fe;
    position: absolute;
    bottom: 7px;
}
.touch-icon {
    width: 25px;
    height: 24px;
}

.jean-image-absolute {
  position: absolute; /* Hace que ocupe todo el contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Asegura que esté encima de otros elementos */
  background-color: rgba(0, 0, 0, 0.5); /* Opcional, si quieres un fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
}