.section-title {
    font-size: 20px;
    font-weight: 600; 
    margin: 0;
    padding: 0; 
    text-align: left;
    position: relative;
    left: 0;
}
.section {
    padding-left: 20px; /* Opcional: agrega un padding para un mejor espaciado */
}
.carousel-container {
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    background-color: #F2F1EB;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.4px solid #D1CECE;
    border-radius: 6px;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 90%;
    align-items: stretch;
}
.carousel-slides > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    min-height: 400px;
    max-height: 400px;
    min-width: 302px;
    max-width: 302px;
    height: auto;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid black;
    left: 10px;
    margin-left: 20px;
}

.carousel-jean-data {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #D1CECE;
    border-top: 1px solid #D1CECE;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
.carousel-slides img {
    width: 90%;
    max-height: 200px;
    max-width: 150px;
    object-fit: cover;
}

.btn-add-cart {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-cart:hover {
    background-color: #0056b3;
}


/* Media Query para pantallas menores a 600px */
@media (max-width: 600px) {
    .carousel-container {
        padding: 5px;
        width: 100vw;
    }

    .carousel-slides > div {
        min-width: 90%;
        max-width: 200px;
        min-height: 100%;
        max-height: 350px;
    }

    .carousel-slides img {
        min-height: 300px;
        min-width: 200px;
    }
}