.btn-cart {
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-cart {
    background-color: #fff9c4; /* Light pastel yellow */
    color: #000; /* Black text */
    border: 1px solid black;
}

.soldOut {
    background-color: #fe852fb3;
}

.jeanInCart {
    background-color: #28a745;
}

