/* Modal.css */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgb(253 253 253 / 0%);
  backdrop-filter: blur(5px);
}
  
  .modal-content {
    background: #E9EFF2;
    width: 100%;
    height: 95%;
    border-radius: 16px 16px 0 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 1px black;
    border: 1px 1px 1px 1px black;
    stroke: 1px;
  }

.modal-jean-data {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: flex-start;
}


.modal-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  height: 15px;
}
  
  .modal-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .modal-images img {
    width: 97px;
    height: 121px;
    object-fit: cover;
  }
  
  .modal-price {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .modal-subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .modal-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
  }
  
  .modal-btn:hover {
    background-color: #0056b3;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-cancel, .modal-add {
    width: 48%;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .modal-add {
    background-color: #28a745;
    color: white;
  }
  
  .modal-add:hover {
    background-color: #218838;
  }
  
  .modal-cancel:hover {
    background-color: #aaa;
  }

.category-title {
    /* margin-top: 10px; */
    height: 80px;
    margin-top: 6px;
    color: #979797;
}