/* Modal.css */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(253, 253, 253, 0.631);
  backdrop-filter: blur(23px);
}
  
.modal-content {
  background: #ffffff;
  width: 100%;
  max-width: 880px;
  height: 95%;
  border-radius: 16px 16px 0 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 1px black;
  border: 1px 1px 1px 1px black;
  stroke: 1px;
  border: 1px solid #0096ff;
}

.modal-jean-data {
  display: flex;
  flex-direction: column;
  height: 121px;
  align-items: flex-start;
}

.modal-container-sizes {
  color: #007bff;
  font-size: 20px;
}

.modal-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  height: 15px;
}
  
.modal-images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 99%;
  height: 150px;
  margin: 23px 0px 0px 0px;
  background-color: #4a90e2;
  padding: 23px 15px 6px 0px;
  background-color: #d5e8ff;
  border: 1px solid #007bff;
  border-radius: 7px;
}
  
  .modal-images img {
    width: 97px;
    height: 121px;
    object-fit: cover;
  }
  
  .modal-price {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
.modal-span {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* background-color: #f1f1f1; */
  border: 1px solid #007bff;
  border-radius: 13px;
  padding: 10px;
  background: linear-gradient(187deg, #ffffff, #d4e7fffa);
  /* color: #0476ff; */
}

.modal-span-title {
  font-size: 20px;
  font-weight: 600; 
}
  
  .modal-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
  }
  
  .modal-btn:hover {
    background-color: #0056b3;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-cancel, .modal-add {
    width: 48%;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .modal-add {
    background-color: #28a745;
    color: white;
  }
  
  .modal-add:hover {
    background-color: #218838;
  }
  
  .modal-cancel:hover {
    background-color: #aaa;
  }

.category-title {
    /* margin-top: 10px; */
    height: 80px;
    margin-top: 6px;
    color: #979797;
}